/curs-ssatr-ia-mas-2023-main/laborator_1/target/
/curs-ssatr-ia-mas-2023-main/exemple_curs/exemple-curs-5-colectii/target/
/curs-ssatr-ia-mas-2023-main/exemple_curs/exemple-curs-4-oopdetails/target/
/hello-ssatr/target/
